<div class="form">
  <%= form_with(model: @image, url: images_path, local: true) do |form| %>
    <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Add image title" %>
  </div>
  <div>
    <%= form.label :date_uploaded %>
    <%= form.date_field :date_uploaded %>
  </div>

  <div>
    <%= form.button 'Upload Image' %>
  </div>
  <% end %>
</div>
